@font-face {
  font-family: 'IBMPlexSans';
  src: url('fonts/IBMPlexSans-Medium.woff') format('woff'), url('fonts/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('fonts/IBMPlexSans-Regular.woff') format('woff'), url('fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.App {
  font-family: 'IBMPlexSans', sans-serif;
  text-align: left;
  min-height: 100vh;
  background: #ffffff;
  min-width: 360px;
  padding: 40px 30px;

}
.App-title {
  font-weight: bold;
  font-size: 34px;
  margin: 0 0 8px 0;
  padding: 0;
}
.App-description {
  font-size: 16px;
  line-height: 26px;
}
.App-link {
  margin-left: 8px;
  text-decoration: none;
  color: #0880AE;
}


